[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/snorrwe/sdl-releases-mirror.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
