[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/snorrwe/sdl-releases-mirror.git
[submodule "external/log4cplus"]
	path = external/log4cplus
	url = https://github.com/log4cplus/log4cplus.git
